/* master styles*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  justify-content: center;
  align-content: center;
  display: flex;
}

.container {
  display: grid;
  width: 1200px;
  height: auto;
  cursor: default;
  z-index: 1;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 50px;
  grid-gap: 5px;
  grid-template-areas:
      "nav"
      "wrapper"
      "footer";
}
.wrapper {
grid-area: wrapper;
}

/* navigation bar styles*/

.nav {
    align-content: center;
    grid-area: nav;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: relative;
}

.left {
    display: flex;
}

.nav > .left > div {
    margin: 0 15px 0 15px;
    font-size: 0.9em;
    font-weight: 450;
    text-transform: uppercase;

}

.nav-link {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid black;
}
  
.active-nav-link a {
    color: black !important;
}

.nav-link a {
    color: #707070;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}

/* About styles*/
.about-contents {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.profile-image {
  filter: grayscale(50%);
}

/* thesis styles */

.proposalcontainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.proposalcontainer .box {
  position: relative;
  width: 340px;
  height: 420px;
  margin: 30px;
  background: #f2f2f2;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: 0.1s;
}

.proposalcontainer .box:hover {
  background: rgba(70, 70, 70, 0.5);
  transition: 0.1s;
}

.proposalcontainer .box::before {
  content: 'Proposal';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3.5em;
  font-weight: 800;
  color: white;
  /* font-style: italic; */
  opacity: 0;
  transition: 0.5s;
}

.proposalcontainer .box::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 2.5em;
  font-weight: 800;
  color: white;
  /* font-style: italic; */
  opacity: 0;
  transition: 0.5s;
}

.proposalcontainer .box:nth-child(1)::after {
  content: '1';
}

.proposalcontainer .box:nth-child(2)::after {
  content: '2';
}

.proposalcontainer .box:nth-child(3)::after {
  content: '3';
}

.proposalcontainer .box:hover::before,
.proposalcontainer .box:hover::after {
opacity: 0.2;
}

.proposalcontainer .box .name {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0,0,75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.proposalcontainer .box:hover .name {
  bottom: 70px;
  opacity: 1;
}

.proposalcontainer .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,75px);
  color: white;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.proposalcontainer .box:hover .buy {
  bottom: 30px;
  opacity: 1;
}

.proposalcontainer .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%,-50%,50px);
}

.proposalcontainer .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(-50%,-50%,0px);
  opacity: 0;
}

.proposalcontainer .box:hover .product {
  transform: translate3d(-50%,-50%,100px);
  opacity: 1;
}

/* Internship styles*/
.internship-contents{
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; 
}

/* Projects styles*/

.project-contents{
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px; 
}

/* Workshop styles*/

.workshop-contents{
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px; 
}

.workshop-content{
  position: relative;
}

.workshop-background {
    height:500px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.workshop-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.logo {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.workshop-text .abstract {
    transition: 0.75s;
    font-weight: 200px;
    color: transparent;
}

.workshop-text:hover .abstract {
    color: white;
    font-weight: 200px;
  }

.workshop-text .logo {
    transition: 0.75s;
    filter: opacity(0%);
}

.workshop-text:hover .logo {
    filter: opacity(100%);
  }

.workshop-text .workshop-link {
    transition: 0.75s;
    filter: opacity(0%);
    font-weight: 100px;
    margin-bottom: 15px;
}

.workshop-text:hover .workshop-link {
    filter: opacity(100%);
    font-weight: 100px;
  }

.darkening {
    transition: 0.5s;
    filter: brightness(25%);
}

.workshop-link {
    padding-bottom: 30px;
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.75s;
}

.workshop-link a {
    color: white;
    text-decoration: none;
    transition: color 0.75s;
}

.workshop-link:hover {
    border-bottom: 1px solid white;
}

.workshop-link a:hover {
    color: white;
}

/* Bamboo Pavilion styles*/
  
  .slidebar1 {
    margin: 30px 30px 0 30px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .background-1 {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .slidebar1-text {
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: justify;
  }

  .slidebar1-text h2,
  .slidebar1-text h4{
    text-align: center;
  }

  .slidebar1-text p {
    color: #707070;  
  } 

  /* .bamboo-gallery {
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-content: center; 
  }*/

  .gallerytag {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: justify;
  }

  .bamboo-gallery {
    margin: 0 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px; 
    cursor: pointer;
  }

  .bamboo-photo:after {
    content: "";
    display: table;
    clear: both;
  }

  .bamboo-photo {
    filter: grayscale(75%);
  }

  .bamboo-photo a {
    filter: grayscale(75%);
    transition: color 0.5s;
    }

    .bamboo-photo:hover {
        filter: grayscale(0%);
    }

    .bamboo-photo a:hover {
      filter: grayscale(0%);
    }

  /* .bamboo-photo {
    float: left;
    width: 9%;
    align-items: center;
    align-content: center;
    justify-content: center;
  } */

img.hover-shadow {
  transition: 0.3s;
  filter: grayscale(75%);
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  filter: grayscale(0%);
}
  /* .slidebar1-text {
    color: white; 
    background-image: linear-gradient(to right, transparent 40%,rgba(70,70,70,0.90));
    background-size: 200%;
    transition: 0.5s;
  }
  .slidebar1-text:hover {
    background-position: 100%;
    background-image: linear-gradient(to right, transparent 40%,rgba(70,70,70,0.90));
  } */

/* nift gallery styles */

.nift-gallery {
  margin: 0 30px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 150px;
  grid-gap: 10px; 
  cursor: pointer;
}

.ziv-gallery {
  margin: 0 30px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px; 
  cursor: pointer;
}

/* floating Pavilion styles*/

.floating-grid {
    display: grid;
    margin-right: 30px;
    margin-left: 30px;
    height: 760px;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "content-1 content-1 sidebar"
        "content-2 content-3 sidebar";
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 0px;

  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content-1 {
    grid-area: content-1;
  }
  
  .content-2 {
    grid-area: content-2;
  }
  
  .content-3 {
    grid-area: content-3;
  }


  /* carpentry workshop styles*/

.carpentry-grid {
    display: grid;
    margin-right: 30px;
    margin-left: 30px;
    height: 760px;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "content-1 content-1 sidebar"
        "content-2 content-3 sidebar";
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 0px;

  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content-1 {
    grid-area: content-1;
  }
  
  .content-2 {
    grid-area: content-2;
  }
  
  .content-3 {
    grid-area: content-3;
  }

/* Footer Style */

.footer {
  grid-area: footer;
  width: 100%;
  height: 40px;
  background-color: transparent;
  }

  .footer-contents {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-content {
    color: #707070;
    padding-right: 30px;
    filter: opacity(50%);
  }

  .footer-content a {
    color: #707070;
    transition: color 0.5s;
    }

    .footer-content:hover {
        border-bottom: 1px solid transparent;
        color: black;
        filter: opacity(100%);
    }

    .footer-content a:hover {
        color: black;
        filter: opacity(100%);
    }

    /* topstyles */

.top {
  display: flex;
  justify-content: center;
  filter: opacity(50%);
  color: #707070;
}

.top:hover {
  color: black;
  filter: opacity(100%);
}